@import '../css/modules/variables';

// baseOption
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size:1.6rem;/* 16px*/
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”,“游明朝体”, “YuMincho”,“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.global-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}


// font
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 0.8333vw; // 16px
}
.font-mm {
  font-size: 1.041667vw; // 20px
}
.font-lr {
  font-size: 28px;
}
.font-lg {
  font-size: 1.875vw; // 36px
}

.main-title {
  font-size: 32px;
}

.sub-title {
  font-size: 1.77vw;
}

.top-title {
  font-size: 1.46vw;
}

.top-text {
  font-size: 0.833vw;
}

.top-name {
  font-size: 1.15vw;
}


// margin padding
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  margin: 0 auto;
  width: 61.5vw;
  padding: 3.125vw 0 7.5vw;
}



// contentTitle
.content-title {
  width: 100%;
  text-align: center;
  margin-bottom: 3.44vw;

  img {
    margin-bottom: 1.04vw;
    width: 2.08vw;
  }

  h2 {
    @extend .font-lg;
  }
}

$maxWidth: 1180px;

.sub-contentWidth {
  max-width: $maxWidth;
  width: 90%;
  margin: 0 auto;
}

.global-container {
  position: relative;
}

.global-content {
  position: relative;
  background-color: $cWhite;
}

#header {
  .header-container {
    background-color: $cWhite;
    box-shadow: 0px 3px 10px rgba($color: #686868, $alpha: .5);

    & .title-container {
      h1 {
        color: $cBlack;
      }
    }

    .header {
      &__item {
        color: $cBlack;
      }
    }

    .HB {
      span {
        background-color: $cBlack;
      }
    }
  }
}

#sub-top {
  padding-top: 80px;

  .top {
    position: relative;

    &__img {
      img {
        width: 100vw;
        height: 500px;
        object-fit: cover;
      }
    }

    &__text {
      position: absolute;
      top: calc( 50% - 80px );
      left: 50%;
      transform: translate(-50%, calc(-50% + 114px));

      h1 {
        @extend .font-lg;
        color: $cWhite;
      }
    }

    &__hierarchy {
      @extend .sub-contentWidth;
      margin-top: 36px;
      margin-bottom: 98px;
    }
  }
}

#sub-main {
  @extend .sub-contentWidth;

  .explanation {
    @extend .font-md;
    text-align: center;
    line-height: 2em;
    margin-bottom: 78px;
  }

  .sub {
    @for $i from 1 through 3 {
      &__list#{$i} {
        &__item {
          position: relative;
          width: 100%;
          height: 438px;
          margin-bottom: 84px;

          img {
            position: relative;
            width: 525px;
            height: 300px;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 10;
          }

          .text {
            background-image: url(../img/bg04.png);
            background-size: cover;
            width: 823px;
            height: 381px;
            position: absolute;
            right: 0;
            bottom: 0;
            // z-index: -10;
            padding-top: 60px;
            padding-left: 238px;

            h2 {
              font-size: 24px;
              margin-bottom: 52px;
            }

            p:first-of-type {
              line-height: 2em;
              margin-bottom: 52px;
            }

            p:last-of-type {
              line-height: 1.5em;
              font-size: 14px;
            }
          }
        }
      }
    }

    &__list2 {
      &__item {
        img {
          position: absolute;
          right: 0;
          left: auto;
        }

        .text {
          position: absolute;
          right: auto;
          padding-top: 60px;
          padding-left: 60px;

          h2 {
            font-size: 24px;
            margin-bottom: 52px;
          }

          p:first-of-type {
            line-height: 2em;
            margin-bottom: 52px;
          }

          p:last-of-type {
            line-height: 1.5em;
            font-size: 14px;
          }
        }
      }
    }
  }

  .kounou {
    margin: 0 auto;
    padding-top: 95.5px;
    padding-bottom: 74px;
    margin-top: 156.5px;
    margin-bottom: 96.5px;
    border-top: #E7E7E7 solid 1px;
    border-bottom: #E7E7E7 solid 1px;

    h2 {
      font-size: 26px;
      text-align: center;
      margin-bottom: 51.5px;
    }

    dl {
      margin: 0 auto;
      max-width: 880px;
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;

      dt {
        flex-basis: 25%;
        border-top: #E7E7E7 solid 1px;
        line-height: 2.1333em;
        font-weight: normal;
        padding: 17.5px 0;

        &:last-of-type {
          line-height: 1.4666em;
          border-bottom: #E7E7E7 solid 1px;
        }
      }

      dd {
        flex-basis: 75%;
        border-top: #E7E7E7 solid 1px;
        line-height: 2.1333em;
        padding: 17.5px 0;

        &:last-of-type {
          line-height: 1.4666em;
          border-bottom: #E7E7E7 solid 1px;
        }
      }
    }
  }
}
