@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

menu {
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#modal-open {
  font-size: 40px;
  cursor: pointer;
}

#modal-content {
  position: fixed;
  width: 550px;
  max-width: 100%;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 150;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

#modal-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  padding: 30px 0;
  margin: 0 11% 35.5px;
  border-bottom: #E7E7E7 solid 1px;
}

#modal-content img {
  position: absolute;
  right: 22px;
  top: 20px;
  cursor: pointer;
}

#modal-content form {
  padding: 0 11%;
}

#modal-content form #name,
#modal-content form #email,
#modal-content form #modalPlan,
#modal-content form #calendar {
  display: block;
  height: 32px;
  width: 420px;
  resize: none;
  max-width: 100%;
  border: 1px solid #E7E7E7;
  padding-left: 10px;
  font-weight: normal;
}

#modal-content form #modalPlan {
  background-image: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.4) 50%), linear-gradient(135deg, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

#modal-content form #modalPlan.is-empty {
  color: #707070;
}

#modal-content form div {
  margin-bottom: 14px;
}

#modal-content form div:last-of-type {
  margin-bottom: 0;
}

#modal-content form label {
  display: inline-block;
  margin-bottom: 14px;
  width: auto;
  font-size: 16px;
}

#modal-content form p {
  color: #000000;
  margin: 0;
}

#modal-content form button {
  display: block;
  padding: 13px 67px;
  margin: 64px auto 90px;
  border: solid 1px #707070;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#modal-content form button:hover {
  opacity: .8;
  background: #444444;
  color: #FFFFFF;
}

#modal-overlay {
  z-index: 110;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

body.overlay {
  overflow: hidden;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.font-sm {
  font-size: 14px;
}

.font-md, #contents .contents__oheya p, #contents .contents__menu p, #contents .contents__onsen p, #news .news__nav li, #access .access__list, #footer .footer__address div p {
  font-size: 16px;
}

.font-mm, #plan .plan__item h3 {
  font-size: 20px;
}

.font-lr {
  font-size: 28px;
}

.font-lg, .content-title h2, #plan .plan__title h2, #news .news__title h2, #access .access__title h2, #footer .footer__title h2, #contents .contents__oheya h2, #contents .contents__menu h2, #contents .contents__onsen h2 {
  font-size: 36px;
}

.main-title, #header .header-container .title-container h1 {
  font-size: 32px;
}

.sub-title, #top .subTitle {
  font-size: 40px;
}

.top-title, #top .top__text__title {
  font-size: 28px;
}

.top-text, #top .top__text1 p, #top .top__text2 p, #top .top__text3 p {
  font-size: 16px;
}

.top-name, #top .top__name {
  font-size: 22px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, #plan .plan-container, #news .news-container, #access .access-container {
  margin: 0 auto;
  width: 61.5vw;
  padding: 3.125vw 0 7.5vw;
}

.content-title, #plan .plan__title, #news .news__title, #access .access__title, #footer .footer__title {
  width: 100%;
  text-align: center;
  margin-bottom: 3.44vw;
}

.content-title img, #plan .plan__title img, #news .news__title img, #access .access__title img, #footer .footer__title img {
  margin-bottom: 1.04vw;
  width: 2.08vw;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* 16px*/
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”,“游明朝体”, “YuMincho”,“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.global-container {
  overflow: hidden;
  position: relative;
  z-index: -50;
}

.HB__menu {
  display: none;
}

#header {
  position: relative;
}

#header .header-container {
  position: fixed;
  z-index: 100;
  height: 80px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
}

#header .header-container.scroll {
  -webkit-transition: all .8s;
  transition: all .8s;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
          box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
}

#header .header-container.scroll .title-container img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header .header-container.scroll .title-container img.logo1 {
  opacity: 0;
}

#header .header-container.scroll .title-container img.logo2 {
  opacity: 1;
  display: block;
}

#header .header-container.scroll .title-container h1 {
  color: #000000;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#header .header-container.scroll .header__item {
  color: #000000;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#header .header-container .title-container {
  margin-left: 20px;
}

#header .header-container .title-container a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-container .title-container img {
  width: 40px;
  height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header .header-container .title-container img.logo1 {
  opacity: 1;
  display: block;
}

#header .header-container .title-container img.logo2 {
  position: absolute;
  opacity: 0;
}

#header .header-container .title-container h1 {
  color: #FFFFFF;
  line-height: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#header .header-container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 120px;
}

#header .header-container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-container .header__item {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 30px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#header .header-container .reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 20px;
  width: 170px;
  height: 54px;
  background-color: #978F10;
}

#header .header-container .reserve h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
  color: #FFFFFF;
  line-height: 3em;
}

#top {
  position: relative;
  width: 100vw;
}

#top .subTitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  color: #FFFFFF;
  z-index: 10;
  top: 26.82vw;
  right: 26.45vw;
}

#top .subTitle h2 {
  margin-left: 2.6vw;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#top .swiper-slide-active .scale,
#top .swiper-slide-duplicate-active .scale,
#top .swiper-slide-prev .scale {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

#top .top__img1 {
  position: relative;
  background-image: url(../img/mainbg01.jpg);
  background-size: cover;
  width: 100vw;
  height: 56.3vw;
}

#top .top__img2 {
  position: relative;
  background-image: url(../img/mainbg02.jpg);
  background-size: cover;
  width: 100vw;
  height: 56.3vw;
}

#top .top__img3 {
  position: relative;
  background-image: url(../img/mainbg03.jpg);
  background-size: cover;
  width: 100vw;
  height: 56.3vw;
}

#top .top__text {
  background-image: url(../img/bg01.png);
  background-size: cover;
  width: 100vw;
  height: 35.46vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: relative;
  min-height: 600px;
}

#top .top__text__title {
  letter-spacing: 0.5em;
}

#top .top__text__title h3 {
  position: absolute;
}

#top .top__text__title h3:first-child {
  top: 3.33vw;
  right: 25.4vw;
}

#top .top__text__title h3:last-child {
  top: 7.81vw;
  right: 28.6vw;
}

#top .top__text1 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text1 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text2 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text2 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text3 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text3 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text1 {
  right: 36.2vw;
}

#top .top__text2 {
  right: 47.1vw;
}

#top .top__text3 {
  right: 58.3vw;
}

#top .top__name {
  position: absolute;
  letter-spacing: .5em;
  right: 69vw;
  top: 23.1vw;
}

#contents {
  background-color: #FFFFFF;
  padding: 5.52vw 0 4.06vw;
  position: relative;
  z-index: 1;
}

#contents .contents__oheya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__oheya .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__oheya img {
  width: 54.7vw;
  height: 28.4vw;
  min-height: 500px;
}

#contents .contents__oheya h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__oheya p {
  line-height: 2em;
  width: 21.7vw;
  min-width: 320px;
  margin-bottom: 3.91vw;
}

#contents .contents__oheya button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__menu .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__menu img {
  width: 54.7vw;
  height: 28.4vw;
  min-height: 500px;
}

#contents .contents__menu h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__menu p {
  line-height: 2em;
  width: 21.7vw;
  min-width: 320px;
  margin-bottom: 3.91vw;
}

#contents .contents__menu button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__onsen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__onsen .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__onsen img {
  width: 54.7vw;
  height: 28.4vw;
  min-height: 500px;
}

#contents .contents__onsen h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__onsen p {
  line-height: 2em;
  width: 21.7vw;
  min-width: 320px;
  margin-bottom: 3.91vw;
}

#contents .contents__onsen button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#contents .contents__menu .contents__text {
  margin: 1.15vw 9.06vw 0 0;
}

#contents .contents__menu .contents__text p {
  width: 15vw;
  min-width: 300px;
}

#contents .contents__onsen {
  margin-bottom: 0;
}

#plan {
  background-image: url(../img/bg02.png);
  background-size: cover;
  position: relative;
  z-index: 1;
}

#plan .plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#plan .plan__item {
  width: 17.2vw;
}

#plan .plan__item img {
  width: 100%;
  margin: 0 0 32px;
}

#plan .plan__item h3 {
  width: 95%;
  margin: 0 auto 36px;
  line-height: 1.6em;
}

#plan .plan__item p {
  width: 95%;
  margin: 0 auto;
  line-height: 2em;
}

#news {
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

#news .news-container {
  min-height: 42vw;
  padding-bottom: 3.13vw;
}

#news .news__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news .news__nav li {
  cursor: pointer;
  margin: 0 1.38vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#news .news__nav li:first-child {
  text-align: right;
}

#news .news__nav li:last-child {
  text-align: left;
}

#news .news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#news .news__list__item {
  -ms-flex-preferred-size: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  margin: 10px 20px;
}

#news .news__list__item img {
  width: 5.21vw;
  height: 5.21vw;
  margin: 15px 30px 15px 10px;
}

#news .news__list__text {
  margin: 15px 0;
  margin-right: 15px;
  line-height: 2em;
}

#news .news__list__text p:first-child {
  font-size: .73vw;
  line-height: 1em;
}

#news .tab li.active {
  text-decoration: underline;
}

#news .area ul {
  display: none;
}

#news .area ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#access {
  background-image: url(../img/bg01.png);
  position: relative;
  z-index: 1;
}

#access .access-container {
  padding-bottom: 5.73vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#access .access__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#access .access__img {
  width: 34.2vw;
  height: 19.3vw;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-preferred-size: 55.6%;
      flex-basis: 55.6%;
  margin-bottom: 3.59vw;
}

#access .access__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1.04vw 1.04vw 1.04vw 4.32vw;
}

#access .access__list dt {
  font-weight: bold;
  margin-bottom: 1.25vw;
}

#access .access__list dd {
  margin-bottom: 1.25vw;
}

#access .access__map {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}

#access .access__map__inner {
  display: block;
  margin: 0 auto;
  width: 42.3vw;
  height: 30.8vw;
}

#footer {
  background-image: url(../img/bg03.png);
  text-align: center;
  padding-top: 3.33vw;
  position: relative;
  z-index: 1;
}

#footer .footer__menu {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 0 auto 5vw;
}

#footer .footer__menu__item {
  margin: 0 1.78vw;
  text-align: left;
}

#footer .footer__menu__item a {
  letter-spacing: 1em;
  font-size: 16px;
}

#footer .footer__title {
  font-weight: bold;
}

#footer .footer__address {
  margin-bottom: 3.13vw;
}

#footer .footer__address1 {
  letter-spacing: 1.8px;
}

#footer .footer__address div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer__address div :nth-child(2) {
  margin: 0;
}

#footer .footer__address div p {
  margin-right: 1.04vw;
  line-height: 3em;
}

#footer .footer-container {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1.20vw;
}

@media (max-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以下のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 14px;
  }
  .font-md, #contents .contents__oheya p, #contents .contents__menu p, #contents .contents__onsen p, #news .news__nav li, #access .access__list, #footer .footer__address div p {
    font-size: 14px;
  }
  .font-mm, #plan .plan__item h3 {
    font-size: 16px;
  }
  .font-lr {
    font-size: 22px;
  }
  .font-lg, .content-title h2, #plan .plan__title h2, #news .news__title h2, #access .access__title h2, #footer .footer__title h2, #contents .contents__oheya h2, #contents .contents__menu h2, #contents .contents__onsen h2 {
    font-size: 24px;
  }
  .main-title, #header .header-container .title-container h1 {
    font-size: 32px;
  }
  .sub-title, #top .subTitle {
    font-size: 24px;
  }
  .top-title, #top .top__text__title {
    font-size: 28px;
  }
  .top-text, #top .top__text1 p, #top .top__text2 p, #top .top__text3 p {
    font-size: 16px;
  }
  .top-name, #top .top__name {
    font-size: 22px;
  }
  .mb-sm {
    margin-bottom: 16px !important;
  }
  .mb-lg {
    margin-bottom: 80px !important;
  }
  .pb-sm {
    padding-bottom: 16px !important;
  }
  .pb-lg {
    padding-bottom: 80px !important;
  }
  .content-width, #plan .plan-container, #news .news-container, #access .access-container {
    margin: 0 auto;
    width: 61.5vw;
    padding: 3.125vw 0 7.5vw;
  }
  .content-title img, #plan .plan__title img, #news .news__title img, #access .access__title img, #footer .footer__title img {
    margin-bottom: 10px;
    width: 32px;
  }
  #top .subTitle {
    top: 15%;
  }
  #top .top__text {
    min-height: 550px;
  }
  #top .top__text__title h3 {
    font-size: 24px;
  }
  #top .top__text1 p {
    font-size: 16px;
    padding-left: 5px;
  }
  #top .top__text2 p {
    font-size: 16px;
    padding-left: 5px;
  }
  #top .top__text3 p {
    font-size: 16px;
    padding-left: 5px;
  }
  #top .top__name {
    font-size: 20px;
    top: 50%;
  }
  #contents {
    padding-bottom: 100px;
  }
  #contents .contents__oheya img {
    min-height: 350px;
  }
  #contents .contents__oheya h2 {
    font-size: 20px;
  }
  #contents .contents__oheya p {
    min-width: 330px;
    margin-bottom: 3.91vw;
  }
  #contents .contents__oheya button {
    font-size: 14px;
    width: 150px;
    height: 40px;
    border: solid 1px #707070;
    text-align: center;
  }
  #contents .contents__menu img {
    min-height: 350px;
  }
  #contents .contents__menu h2 {
    font-size: 20px;
  }
  #contents .contents__menu p {
    min-width: 330px;
    margin-bottom: 3.91vw;
  }
  #contents .contents__menu button {
    font-size: 14px;
    width: 150px;
    height: 40px;
    border: solid 1px #707070;
    text-align: center;
  }
  #contents .contents__onsen img {
    min-height: 350px;
  }
  #contents .contents__onsen h2 {
    font-size: 20px;
  }
  #contents .contents__onsen p {
    min-width: 330px;
    margin-bottom: 3.91vw;
  }
  #contents .contents__onsen button {
    font-size: 14px;
    width: 150px;
    height: 40px;
    border: solid 1px #707070;
    text-align: center;
  }
  #plan .plan-container {
    width: 80vw;
  }
  #plan .plan__item {
    width: 24vw;
  }
  #plan .plan__item img {
    margin: 0 0 24px;
  }
  #plan .plan__item h3 {
    margin: 0 auto 24px;
  }
  #plan .plan__item p {
    font-size: 14px;
  }
  #news .news-container {
    width: calc(80vw + 40px);
  }
  #news .news__list__text p {
    font-size: 14px;
    line-height: 1.5em;
  }
  #news .news__list__text p:first-of-type {
    line-height: 3em;
  }
  #access .access-container {
    width: 80vw;
  }
  #access .access__img {
    min-height: 250px;
  }
  #access .access__list dt {
    font-weight: bold;
    margin-bottom: .5vw;
  }
  #access .access__list dd {
    margin-bottom: 1.25vw;
  }
  #footer .footer__address div p {
    line-height: 2em;
  }
}

@media (max-width: 900px) {
  /******************************************************************

Stylesheet: 900px以下のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md, #contents .contents__oheya p, #contents .contents__menu p, #contents .contents__onsen p, #news .news__nav li, #access .access__list, #footer .footer__address div p {
    font-size: 16px;
  }
  .font-mm, #plan .plan__item h3 {
    font-size: 20px;
  }
  .font-lr {
    font-size: 24px;
  }
  .font-lg, .content-title h2, #plan .plan__title h2, #news .news__title h2, #access .access__title h2, #footer .footer__title h2, #contents .contents__oheya h2, #contents .contents__menu h2, #contents .contents__onsen h2 {
    font-size: 28px;
  }
  .main-title, #header .header-container .title-container h1 {
    font-size: 32px;
  }
  .sub-title, #top .subTitle {
    font-size: 24px;
  }
  .top-title, #top .top__text__title {
    font-size: 28px;
  }
  .top-text, #top .top__text1 p, #top .top__text2 p, #top .top__text3 p {
    font-size: 16px;
  }
  .top-name, #top .top__name {
    font-size: 22px;
  }
  .mb-sm {
    margin-bottom: 16px !important;
  }
  .mb-lg {
    margin-bottom: 80px !important;
  }
  .pb-sm {
    padding-bottom: 16px !important;
  }
  .pb-lg {
    padding-bottom: 80px !important;
  }
  #header .header-container.scroll .HB__btn span {
    background-color: #000000;
  }
  #header .header-container .header__nav {
    display: none;
  }
  #header .header-container .reserve {
    display: none;
  }
  #header .header-container .HB {
    display: block;
    position: absolute;
    right: 0;
  }
  #header .header-container .HB__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 24px;
    cursor: pointer;
  }
  #header .header-container .HB__btn span {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 7.5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  #header .header-container .HB__btn span:last-of-type {
    margin: 0;
  }
  #header .header-container .HB__btn.inview span:nth-child(1) {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header .header-container .HB__btn.inview span:nth-child(2) {
    opacity: 0;
  }
  #header .header-container .HB__btn.inview span:nth-child(3) {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #top .top__text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 0;
    height: initial;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
  }
  #top .top__text__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0 30px;
  }
  #top .top__text__title h3 {
    position: static;
    display: inline;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    font-size: 28px;
  }
  #top .top__text1 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: static;
    margin: 10px 0px;
  }
  #top .top__text1 p {
    padding: 0;
    position: static;
    font-size: 20px;
  }
  #top .top__text2 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: static;
    margin: 10px 0px;
  }
  #top .top__text2 p {
    padding: 0;
    position: static;
    font-size: 20px;
  }
  #top .top__text3 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: static;
    margin: 10px 0px;
  }
  #top .top__text3 p {
    padding: 0;
    position: static;
    font-size: 20px;
  }
  #top .top__name {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: static;
    margin: 30px 0 50px;
    font-size: 24px;
  }
  #contents {
    padding-bottom: 50px;
  }
  #contents .contents__oheya {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
  }
  #contents .contents__oheya .contents__text {
    margin: 30px 0 50px;
  }
  #contents .contents__oheya img {
    width: 100%;
    height: auto;
    min-height: initial;
    margin: 0 auto;
  }
  #contents .contents__oheya h2 {
    line-height: 1.5em;
    margin-bottom: 20px;
    font-size: 28px;
  }
  #contents .contents__oheya p {
    line-height: 2em;
    width: 100%;
    min-width: 320px;
    margin-bottom: 3.91vw;
    font-size: 16px;
  }
  #contents .contents__oheya button {
    width: 200px;
    height: 56px;
    border: solid 1px #707070;
    text-align: center;
    font-size: 16px;
  }
  #contents .contents__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
  }
  #contents .contents__menu .contents__text {
    margin: 30px 0 50px;
  }
  #contents .contents__menu img {
    width: 100%;
    height: auto;
    min-height: initial;
    margin: 0 auto;
  }
  #contents .contents__menu h2 {
    line-height: 1.5em;
    margin-bottom: 20px;
    font-size: 28px;
  }
  #contents .contents__menu p {
    line-height: 2em;
    width: 100%;
    min-width: 320px;
    margin-bottom: 3.91vw;
    font-size: 16px;
  }
  #contents .contents__menu button {
    width: 200px;
    height: 56px;
    border: solid 1px #707070;
    text-align: center;
    font-size: 16px;
  }
  #contents .contents__onsen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    text-align: center;
  }
  #contents .contents__onsen .contents__text {
    margin: 30px 0 50px;
  }
  #contents .contents__onsen img {
    width: 100%;
    height: auto;
    min-height: initial;
    margin: 0 auto;
  }
  #contents .contents__onsen h2 {
    line-height: 1.5em;
    margin-bottom: 20px;
    font-size: 28px;
  }
  #contents .contents__onsen p {
    line-height: 2em;
    width: 100%;
    min-width: 320px;
    margin-bottom: 3.91vw;
    font-size: 16px;
  }
  #contents .contents__onsen button {
    width: 200px;
    height: 56px;
    border: solid 1px #707070;
    text-align: center;
    font-size: 16px;
  }
  #contents .contents__menu .contents__text p {
    width: 100%;
  }
  #contents .contents-container {
    width: 90%;
    margin: 0 auto;
  }
  #contents .contents__onsen {
    margin-bottom: 0;
  }
  #plan .plan__item h3 {
    font-size: 16px;
  }
  #plan .plan__item p {
    width: 95%;
    margin: 0 auto;
    line-height: 2em;
  }
  #news .news__list__text {
    height: initial;
  }
  #news .news__list__item img {
    width: 60px;
    height: 60px;
    margin: 10px 15px 10px 10px;
  }
  #news .news__list__text {
    margin: 10px 0;
    margin-right: 15px;
    line-height: 2em;
  }
  #news .news__list__text p:first-child {
    font-size: 12px;
    line-height: 1em;
  }
  .global-container {
    position: relative;
    width: 100vw;
  }
  .global-content {
    -webkit-transition: .5s;
    transition: .5s;
  }
  .hidden {
    overflow: hidden;
  }
  .hidden .global-content {
    -webkit-transform: translate(-250px, 100px);
            transform: translate(-250px, 100px);
    -webkit-box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.3);
  }
  .hidden .HB__menu {
    pointer-events: all;
  }
  .hidden .HB__back {
    opacity: 1;
    pointer-events: all;
  }
  .HB__menu {
    display: block;
    width: 250px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 0;
    text-align: center;
    margin: 50px 0;
    pointer-events: none;
  }
  .HB__menu .title-container {
    margin-bottom: 30px;
  }
  .HB__menu .HB__list .HB__item {
    margin-bottom: 30px;
  }
  .HB__menu .HB__list .HB__item a {
    display: block;
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #c4c4c4;
  }
  .HB__menu .HB__reserve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: initial;
    width: 170px;
    height: 54px;
    margin: 0 auto;
    background-color: #978F10;
    z-index: 0;
  }
  .HB__menu .HB__reserve h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 10px;
    color: #FFFFFF;
    line-height: 3em;
  }
  .HB__back {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  /******************************************************************

Stylesheet: 600px以下のタブレットやモニタで適用

******************************************************************/
  .font-sm {
    font-size: 14px;
  }
  .font-md, #contents .contents__oheya p, #contents .contents__menu p, #contents .contents__onsen p, #news .news__nav li, #access .access__list, #footer .footer__address div p {
    font-size: 14px;
  }
  .font-mm, #plan .plan__item h3 {
    font-size: 16px;
  }
  .font-lr {
    font-size: 22px;
  }
  .font-lg, .content-title h2, #plan .plan__title h2, #news .news__title h2, #access .access__title h2, #footer .footer__title h2, #contents .contents__oheya h2, #contents .contents__menu h2, #contents .contents__onsen h2 {
    font-size: 24px;
  }
  .main-title, #header .header-container .title-container h1 {
    font-size: 28px;
  }
  .sub-title, #top .subTitle {
    font-size: 24px;
  }
  .top-title, #top .top__text__title {
    font-size: 28px;
  }
  .top-text, #top .top__text1 p, #top .top__text2 p, #top .top__text3 p {
    font-size: 16px;
  }
  .top-name, #top .top__name {
    font-size: 22px;
  }
  #header .header-container {
    height: 60px;
  }
  #header .header-container .title-container img {
    width: 30px;
    height: 30px;
  }
  #header .header-container .HB__btn {
    margin: 10px 24px 10px 10px;
  }
  #top .top__img1 {
    height: 100vh;
    background-position: center;
  }
  #top .top__img2 {
    height: 100vh;
    background-position: center;
  }
  #top .top__img3 {
    height: 100vh;
    background-position: center;
  }
  #top .top__text__title {
    width: 90%;
    display: block;
    margin: 50px auto 30px;
    left: 0;
  }
  #top .top__text__title h3 {
    width: 100%;
    line-height: 0.5em;
    font-size: 24px;
  }
  #top .top__text__title h3:after {
    content: "";
    margin-right: -14px;
  }
  #top .top__text1 {
    width: 90%;
    margin: 10px auto;
  }
  #top .top__text1 p {
    letter-spacing: 1px;
    font-size: 14px;
  }
  #top .top__text2 {
    width: 90%;
    margin: 10px auto;
  }
  #top .top__text2 p {
    letter-spacing: 1px;
    font-size: 14px;
  }
  #top .top__text3 {
    width: 90%;
    margin: 10px auto;
  }
  #top .top__text3 p {
    letter-spacing: 1px;
    font-size: 14px;
  }
  #top .top__name {
    width: 90%;
    margin: 20px auto 30px;
    font-size: 20px;
  }
  #plan .plan-container {
    width: 90%;
  }
  #plan .plan__title {
    margin: 20px auto;
  }
  #plan .plan__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #plan .plan__item {
    width: 100%;
  }
  #plan .plan__item img {
    width: 100%;
    margin: 0;
  }
  #plan .plan__item h3 {
    width: 95%;
    margin: 10px auto 10px;
    line-height: 1.6em;
  }
  #plan .plan__item p {
    width: 95%;
    margin: 0 auto 30px;
    line-height: 2em;
  }
  #news .news-container {
    width: 90%;
  }
  #news .news__title {
    margin: 20px auto;
  }
  #news .news__list__item {
    margin: 5px 0;
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  #access .access-container {
    width: 90%;
  }
  #access .access__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #access .access__img {
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 3.59vw;
  }
  #access .access__list dt {
    font-weight: bold;
    margin-bottom: 5px;
  }
  #access .access__list dd {
    margin-bottom: 15px;
  }
  #footer .footer__nav {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */