@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

menu {
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* 16px*/
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”,“游明朝体”, “YuMincho”,“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.global-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.font-sm {
  font-size: 14px;
}

.font-md, #contents .contents__oheya p, #contents .contents__menu p, #contents .contents__onsen p {
  font-size: 0.8333vw;
}

.font-mm, #plan .plan__item h3 {
  font-size: 1.041667vw;
}

.font-lr {
  font-size: 28px;
}

.font-lg, #contents .contents__oheya h2, #contents .contents__menu h2, #contents .contents__onsen h2, .contents-title h2, #plan .plan__title h2 {
  font-size: 1.875vw;
}

.main-title, #header .header-container .title-container h1 {
  font-size: 32px;
}

.sub-title, #top .top__img .subTitle {
  font-size: 1.77vw;
}

.top-title, #top .top__text__title {
  font-size: 1.46vw;
}

.top-text, #top .top__text1 p, #top .top__text2 p, #top .top__text3 p {
  font-size: 0.833vw;
}

.top-name, #top .top__name {
  font-size: 1.15vw;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90vw;
  margin: 0 auto;
  max-width: 1024px;
}

#header {
  position: relative;
}

#header .header-container {
  position: fixed;
  z-index: 100;
  height: 80px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

#header .header-container .title-container img {
  width: 40px;
  height: 40px;
}

#header .header-container .title-container h1 {
  color: #FFFFFF;
  line-height: 1.5em;
  font-weight: bold;
  margin-left: 15px;
}

#header .header-container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 120px;
}

#header .header-container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-container .header__item {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 30px;
}

#header .header-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 20px;
  width: 170px;
  height: 54px;
  background-color: #978F10;
}

#header .header-container button h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
  color: #FFFFFF;
  line-height: 3em;
}

#top {
  position: relative;
  width: 100vw;
}

#top .top__img {
  position: relative;
  background-image: url(../../img/mainbg01.jpg);
  background-size: cover;
  width: 100vw;
  height: 56.3vw;
}

#top .top__img .subTitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  color: #FFFFFF;
  z-index: 10;
  top: 26.82vw;
  right: 26.45vw;
}

#top .top__img .subTitle h2 {
  margin-left: 2.6vw;
}

#top .top__text {
  background-image: url(../../img/bg01.png);
  background-size: cover;
  width: 100vw;
  height: 35.46vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: relative;
  z-index: -10;
}

#top .top__text__title {
  letter-spacing: 0.5em;
}

#top .top__text__title h3 {
  position: absolute;
}

#top .top__text__title h3:first-child {
  top: 3.33vw;
  right: 25.4vw;
}

#top .top__text__title h3:last-child {
  top: 7.81vw;
  right: 28.6vw;
}

#top .top__text1 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text1 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text2 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text2 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text3 {
  position: absolute;
  margin-left: 1.15vw;
  top: 7.81vw;
}

#top .top__text3 p {
  letter-spacing: 0.4em;
  padding-left: 1.15vw;
}

#top .top__text1 {
  right: 36.2vw;
}

#top .top__text2 {
  right: 47.1vw;
}

#top .top__text3 {
  right: 58.3vw;
}

#top .top__name {
  position: absolute;
  letter-spacing: .5em;
  right: 69vw;
  top: 23.1vw;
}

#contents {
  margin: 5.52vw 0 4.06vw;
}

#contents .contents__oheya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__oheya .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__oheya img {
  width: 54.7vw;
  height: 28.4vw;
}

#contents .contents__oheya h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__oheya p {
  line-height: 2em;
  width: 21.7vw;
  margin-bottom: 3.91vw;
}

#contents .contents__oheya button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__menu .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__menu img {
  width: 54.7vw;
  height: 28.4vw;
}

#contents .contents__menu h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__menu p {
  line-height: 2em;
  width: 21.7vw;
  margin-bottom: 3.91vw;
}

#contents .contents__menu button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__onsen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.35vw;
}

#contents .contents__onsen .contents__text {
  margin: 1.15vw 0 0 7.14vw;
}

#contents .contents__onsen img {
  width: 54.7vw;
  height: 28.4vw;
}

#contents .contents__onsen h2 {
  line-height: 2em;
  margin-bottom: 3.91vw;
}

#contents .contents__onsen p {
  line-height: 2em;
  width: 21.7vw;
  margin-bottom: 3.91vw;
}

#contents .contents__onsen button {
  width: 200px;
  height: 56px;
  border: solid 1px #707070;
  text-align: center;
}

#contents .contents__menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#contents .contents__menu .contents__text {
  margin: 1.15vw 9.06vw 0 0;
}

#contents .contents__menu .contents__text p {
  width: 15vw;
}

#contents .contents__onsen {
  margin-bottom: 0;
}

.contents-title, #plan .plan__title {
  width: 100%;
  text-align: center;
  margin-bottom: 66px;
}

.contents-title img, #plan .plan__title img {
  margin-bottom: 20px;
}

#plan {
  background-image: url(../../img/bg02.png);
}

#plan .plan-container {
  margin: 0 auto;
  width: 61.5vw;
  padding: 3.125vw 0 7.5vw;
}

#plan .plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#plan .plan__item {
  width: 17.2vw;
}

#plan .plan__item img {
  width: 100%;
  margin: 0 0 32px;
}

#plan .plan__item h3 {
  width: 95%;
  margin: 0 auto 36px;
}

#plan .plan__item p {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以下のモニタで適用

******************************************************************/
}

@media (max-width: 900px) {
  /******************************************************************

Stylesheet: 900px以下のモニタで適用

******************************************************************/
}

@media (max-width: 600px) {
  /******************************************************************

Stylesheet: 600px以下のタブレットやモニタで適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */