/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”,“游明朝体”, “YuMincho”,“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.global-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 16px;
}
.font-mm {
  font-size: 24px;
}
.font-lr {
  font-size: 28px;
}
.font-lg {
  font-size: 32px;
}

.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90vw;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  font-size: 24px;
}

.sub-title {
  font-size: 16px;
}


#header {
  position: relative;

  & .header-container {
    position: fixed;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;

    & .title-container {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }

      h1 {
        @extend .font-lg;
        color: $cWhite;
        line-height: 1.5em;
        font-weight: bold;
        margin-left: 15px;
      }
    }

    .header {
      &__nav {
        display: flex;
        height: 100%;
        margin-left: 120px;
      }

      &__menu {
        display: flex;
        align-items: center;
      }

      &__item {
        @extend .font-md;
        font-weight: bold;
        color: $cWhite;
        margin-right: 30px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 20px;
      width: 170px;
      height: 54px;
      background-color: #978F10;

      h2 {
        @extend .font-md;
        font-weight: bold;
        margin-left: 10px;
        color: $cWhite;
        line-height: 3em;
      }
    }
  }
}