/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size:1.6rem;/* 16px*/
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”,“游明朝体”, “YuMincho”,“ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”,“ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.global-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}


// font
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 0.8333vw;
}
.font-mm {
  font-size: 1.041667vw;
}
.font-lr {
  font-size: 28px;
}
.font-lg {
  font-size: 1.875vw;
}

.main-title {
  font-size: 32px;
}

.sub-title {
  font-size: 1.77vw;
}

.top-title {
  font-size: 1.46vw;
}

.top-text {
  font-size: 0.833vw;
}

.top-name {
  font-size: 1.15vw;
}


// margin padding
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90vw;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}



// body
#header {
  position: relative;

  & .header-container {
    position: fixed;
    z-index: 100;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;

    & .title-container {
      display: flex;
      align-items: center;
      margin-left: 20px;

      img {
        width: 40px;
        height: 40px;
      }

      h1 {
        @extend .main-title;
        color: $cWhite;
        line-height: 1.5em;
        font-weight: bold;
        margin-left: 15px;
      }
    }

    .header {
      &__nav {
        display: flex;
        height: 100%;
        margin-left: 120px;
      }

      &__menu {
        display: flex;
        align-items: center;
      }

      &__item {
        font-size: 1.6rem;
        font-weight: bold;
        color: $cWhite;
        margin-right: 30px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 20px;
      width: 170px;
      height: 54px;
      background-color: #978F10;

      h2 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 10px;
        color: $cWhite;
        line-height: 3em;
      }
    }
  }
}

#top {
  position: relative;
  width: 100vw;

  & .top {
    &__img {
      position: relative;
      background-image: url(../../img/mainbg01.jpg);
      background-size: cover;
      width: 100vw;
      height: 56.3vw;

      .subTitle {
        @extend .sub-title;
        writing-mode: vertical-rl;
        position: absolute;
        color: $cWhite;
        z-index: 10;
        top: 26.82vw;
        right: 26.45vw;

        h2 {
          margin-left: 2.6vw;
        }
      }
    }

    &__text {
      background-image: url(../../img/bg01.png);
      background-size: cover;
      width: 100vw;
      height: 35.46vw;
      writing-mode: vertical-rl;
      position: relative;
      z-index: -10;

      &__title {
        @extend .top-title;
        letter-spacing: 0.5em;

        h3 {
          position: absolute;

          &:first-child {
            top: 3.33vw;
            right: 25.4vw;
          }

          &:last-child {
            top: 7.81vw;
            right: 28.6vw;
          }
        }
      }

      @for $i from 1 through 3 {
        &#{$i} {
          position: absolute;
          margin-left: 1.15vw;
          top: 7.81vw;

          p {
            @extend .top-text;
            letter-spacing: 0.4em;
            padding-left: 1.15vw;
          }
        }
      }

      &1 {
        right: 36.2vw;
      }

      &2 {
        right: 47.1vw;
      }

      &3 {
        right: 58.3vw;
      }
    }

    &__name {
      @extend .top-name;
      position: absolute;
      letter-spacing: .5em;
      right: 69vw;
      top: 23.1vw;
    }
  }
}

#contents {
  margin: 5.52vw 0 4.06vw;
  $items: oheya, menu, onsen;

  @each $item in $items {
    .contents__#{$item} {
      display: flex;
      margin-bottom: 6.35vw;

      .contents__text {
        margin: 1.15vw 0 0 7.14vw;
      }

      img {
        width: 54.7vw;
        height: 28.4vw;
      }

      h2 {
        @extend .font-lg;
        line-height: 2em;
        margin-bottom: 3.91vw;
      }

      p {
        @extend .font-md;
        line-height: 2em;
        width: 21.7vw;
        margin-bottom: 3.91vw;
      }

      button {
        width: 200px;
        height: 56px;
        border: solid 1px #707070;
        text-align: center;
      }
    }
  }

  .contents {
    &__menu {
      flex-direction: row-reverse;

      & .contents__text {
        margin: 1.15vw 9.06vw 0 0;
        p {
          width: 15vw;
        }
      }
    }

    &__onsen {
      margin-bottom: 0;
    }
  }
}

.contents-title {
  width: 100%;
  text-align: center;
  margin-bottom: 66px;

  img {
    margin-bottom: 20px;
  }

  h2 {
    @extend .font-lg;
  }
}

#plan {
  background-image: url(../../img/bg02.png);

  & .plan {
    &-container {
      margin: 0 auto;
      width: 61.5vw;
      padding: 3.125vw 0 7.5vw;
    }

    &__title {
      @extend .contents-title;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 17.2vw;

      img {
        width: 100%;
        margin: 0 0 32px;
      }

      h3 {
        @extend .font-mm;
        width: 95%;
        margin: 0 auto 36px;
      }

      p {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}
// 訂正リスト
// vwで指定しているのにトップのpがレスポンシブに対応していない。
// 文字の大きさとハイトが対応していないので、後からレスポンシブにする時に個別に合わせる
